<div class="users-container">
    <% for (i in users){%>
    <div style="display: flex;">
        <div class="user-object">
            <p>Name: <%= users[i].plat_name %></p>
            <p>School: <%= users[i].plat_school %></p>
            <p>Discord: <a target="_blank"
                    href="https://discord.com/users/<%= users[i].id %>"><%= users[i].username %></a>
            </p>
            <p>Levels Completed: <%= users[i].plat_levels_completed %></p>
            <p>Levels Unlocked: <%= users[i].plat_levels_unlocked %></p>
            <p>Current Level: <%= users[i].play_current_level %></p>
            <button onclick="makeAdmin('<%= users[i]._id %>')">Admin: <%= users[i].admin %></button>
            <button onclick="banit('<%= users[i]._id %>')">Banned: <%= users[i].plat_banned %></button>
        </div>
        <div>
            <h1>Answer Log</h1>
            <% for (j in users[i].answerlog) { %>
            <div style="display: flex">
                <p>try: <%= users[i].answerlog[j].try %></p>
                <p>&nbsp;&nbsp; level: <%= users[i].answerlog[j].level %></p>
            </div>
            <% } %>
        </div>
    </div>
    <% } %>
</div>

<style>
    .user-object {
        background-color: #404040;
        border-radius: 10px;
        padding: 1em;
        margin: 1em;
        width: 20em;
    }
</style>

<script>
    var notyf = new Notyf({
        duration: 3000
    });
    function makeAdmin(id) {
        fetch('/admin/admin/'+id, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(res => {
            return res.json();
        }).then(data => {
            if (data.success) {
                notyf.success(data.message);
            } else {
                notyf.error(data.message);
            }
        });
    }

    function banit(id) {
        fetch('/admin/banit/'+id, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(res => {
            return res.json();
        }).then(data => {
            if (data.success) {
                notyf.success(data.message);
            } else {
                notyf.error(data.message);
            }
        });
    }
</script>